version: '3.8'

services:
  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./front/.env
    depends_on:
      - backend
    volumes:
      - ./front:/app
      - /app/node_modules

  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - ./back/.env
    depends_on:
      - mongo
    volumes:
      - ./back:/app
      - /app/node_modules

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:

